syntax: glob
*.orig
*.suo
.git
Build/
Documentation/Documentation/*
Documentation/Artifacts/*
Documentation/Manual/_build/*
Configuration/Configuration/bin/**
Configuration/Configuration/obj/**
Artifacts/**
tools/
AGENTS.md
Builds/
DevTools.bat
GEMINI.md
Scripts/branch_manager.ps1
Scripts/build_and_store.ps1
Website_RetroFE/
submissions/
log.txt

